<!DOCTYPE html>
<html lang="en" ng-app="MobileStore">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mobilestore</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<div class="row">
    <div class="page-header" class="col-md-12">
        <h2>Mobile Store</h2>
    </div>
</div>


<div class="row" ng-controller="StoreController as store">
    <div class="col-md-6" ng-repeat="mobile in store.mobiles">
    <img ng-src="{{mobile.image}}" width=325px" height="325px">
    <p>Name : {{mobile.name}}</p>
    <p>Color : {{mobile.color}}</p>
    <p>Memory : {{mobile.memory}}</p>
    <p>Price : &#8360 {{mobile.price}}</p>
    <button type="button" ng-hide="!{{mobile.isSoldOut}}" class="btn btn-primary">BUY NOW</button>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{'active':mobile.activeTab==='Description'}"><a ng-click="store.setActiveTab(mobile,'Description')">Description</a></li>
            <li role="presentation" ng-class="{'active':mobile.activeTab==='Specifications'}"><a ng-click="store.setActiveTab(mobile,'Specifications')">Specifications</a></li>
            <li role="presentation" ng-class="{'active':mobile.activeTab==='Reviews'}"><a ng-click="store.setActiveTab(mobile,'Reviews')">Reviews</a></li>
        </ul>
        <p ng-show="mobile.activeTab==='Description'">description goes here</p>
        <p ng-show="mobile.activeTab==='Specifications'">Specifications goes here</p>
        <p ng-show="mobile.activeTab==='Reviews'">reviews goes here</p>

    </div>
</div>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>